<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <!-- common head -->
  <th:block th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </th:block>
</head>

<body>
  <header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">
    <div class="content">
      <div class="right-content">
        <h1 class="title">
          XXXXX
        </h1>
      </div>
      <div class="left-content">
        <div class="header-image">
          <img src="https://github.com/hiroto-hash/shikisai/blob/feature/makehtml/src/main/resources/static/img/header-logo.png" alt="image1">
        </div>
      </div>

    </div>
  </header>
</body>

</html>